.footer {
    height: 50px;
    color:gray;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.footer__text {
    margin: 5px;
}